# 2.13 Sequences

## 2.13.1 Indexing

In [1]:
myString="123456789"
myString[1]

'2'

In [2]:
myList=[11,12,13,14,15,16,17,18,19]
myList[1]

12

In [3]:
myTuple=(21,22,23,24,25,26,27,28,29)
myTuple[1]

22

## 2.13.2 Slicing

In [4]:
myString="123456789"
myString[1:9:2]

'2468'

In [5]:
myList=[11,12,13,14,15,16,17,18,19]
myList[1:9:2]

[12, 14, 16, 18]

In [6]:
myTuple=(21,22,23,24,25,26,27,28,29)
myTuple[1:9:2]

(22, 24, 26, 28)

## 2.13.3 Iteration

In [7]:
myString="123456789"
for i in myString:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [8]:
myList=[11,12,13,14,15,16,17,18,19]
for i in myList:
    print(i,end=" ")

11 12 13 14 15 16 17 18 19

In [9]:
myTuple=(21,22,23,24,25,26,27,28,29)
for i in myTuple:
    print(i,end=" ")

21 22 23 24 25 26 27 28 29

## 2.13.4 Unpacking

In [10]:
myString="123456789"
a1,a2,a3,a4,a5,a6,a7,a8,a9=myString
a1,a2,a3,a4,a5,a6,a7,a8,a9

('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [11]:
myList=[11,12,13,14,15,16,17,18,19]
a1,a2,a3,a4,a5,a6,a7,a8,a9=myList
a1,a2,a3,a4,a5,a6,a7,a8,a9

(11, 12, 13, 14, 15, 16, 17, 18, 19)

In [12]:
myTuple=(21,22,23,24,25,26,27,28,29)
a1,a2,a3,a4,a5,a6,a7,a8,a9=myTuple
a1,a2,a3,a4,a5,a6,a7,a8,a9

(21, 22, 23, 24, 25, 26, 27, 28, 29)

## 2.13.5 Repeat operator

In [13]:
myString="123456789"
myString * 3

'123456789123456789123456789'

In [14]:
myList=[11,12,13,14,15,16,17,18,19]
myList * 3

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [15]:
myTuple=(21,22,23,24,25,26,27,28,29)
myTuple * 3

(21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29)

## 2.13.6 Basic Functions

In [16]:
myString="123456789"
myList=[11,12,13,14,15,16,17,18,19]
myTuple=(21,22,23,24,25,26,27,28,29)
len(myString),len(myList),len(myTuple)

(9, 9, 9)

In [17]:
sorted(myString),sorted(myList),sorted(myTuple)

(['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 [11, 12, 13, 14, 15, 16, 17, 18, 19],
 [21, 22, 23, 24, 25, 26, 27, 28, 29])

In [18]:
reversed(myString),reversed(myList),reversed(myTuple)

(<reversed at 0x7f8f5daac580>,
 <list_reverseiterator at 0x7f8f5daacd60>,
 <reversed at 0x7f8f5daac5b0>)

In [19]:
list(reversed(myString))

['9', '8', '7', '6', '5', '4', '3', '2', '1']

In [20]:
enumerate(myString),enumerate(myList),enumerate(myTuple)

(<enumerate at 0x7f8f5daa3380>,
 <enumerate at 0x7f8f5daa8d40>,
 <enumerate at 0x7f8f5daa8040>)

In [21]:
list(enumerate(myString))

[(0, '1'),
 (1, '2'),
 (2, '3'),
 (3, '4'),
 (4, '5'),
 (5, '6'),
 (6, '7'),
 (7, '8'),
 (8, '9')]

In [22]:
zip(myList,myTuple)

In [23]:
list(zip(myList,myTuple))

[(11, 21),
 (12, 22),
 (13, 23),
 (14, 24),
 (15, 25),
 (16, 26),
 (17, 27),
 (18, 28),
 (19, 29)]