# 4.5 Date and time

## 4.5.1 Creating a time or date object

In [2]:
import datetime as dt
myTime = dt.time(12,34,59)
print("myTime:",myTime)
print("myTime.hour:",myTime.hour)
print("myTime.minute:",myTime.minute)
print("myTime.second:",myTime.second)

myTime: 12:34:59
myTime.hour: 12
myTime.minute: 34
myTime.second: 59

In [3]:
dt.datetime(year = 2018,month = 3,day = 3)

datetime.datetime(2018, 3, 3, 0, 0)

In [4]:
dt.datetime?

# Init signature: dt.datetime(self, /, *args, **kwargs)
# Docstring:     
# datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

# The year, month and day arguments are required. tzinfo may be None, or an
# instance of a tzinfo subclass. The remaining arguments may be ints.
# File:           c:\users\administrator\appdata\local\programs\python\python36\lib\datetime.py
# Type:           type

In [5]:
dt.datetime(month=3,day=3,second=59)

TypeError: Required argument 'year' (pos 1) not found

In [6]:
dt.datetime(year=2018,month=3,day=3,second=59)

datetime.datetime(2018, 3, 3, 0, 0, 59)

## 4.5.2 Parsing a string to a time or date object

In [8]:
dt.datetime("3th of July,2018")

TypeError: an integer is required (got type str)

In [9]:
dt.datetime("2019-1-3")

TypeError: an integer is required (got type str)

In [10]:
from dateutil import parser
date= parser.parse("3th of July,2018")
print(date)

2018-07-03 00:00:00

In [11]:
date= parser.parse("2019-1-3")
print(date)

2019-01-03 00:00:00

In [12]:
import pandas as pd
pd.to_datetime("3th of July,2018")

Timestamp('2018-07-03 00:00:00')

In [13]:
import pandas as pd
pd.to_datetime("2019-1-3")

Timestamp('2019-01-03 00:00:00')

## 4.5.3 Getting current local data or time object

In [14]:
dt.datetime.now()

datetime.datetime(2018, 5, 24, 21, 39, 50, 155634)

In [15]:
dt.datetime.today()

datetime.datetime(2018, 5, 24, 21, 39, 50, 913872)

In [16]:
now=dt.datetime.now()
now.strftime("%W"),now.strftime("%a"),now.strftime("%A"),now.strftime("%B"),now.strftime("%C"),now.strftime("%D")

('51', 'Sun', 'Sunday', 'December', '20', '12/23/18')

## 4.5.4 Evaluating the difference between two date or time objects

In [17]:
d1=dt.datetime.now()
d2=dt.datetime(year=2017,month=3,day=3)
(d1-d2).days

447

## 4.5.5 Setting a time or date object as the index of Pandas

In [18]:
index=pd.DatetimeIndex(["2018-1-1","2019-1-2","2018-1-3","2018-1-4","2018-1-5"])
data=pd.Series([1,2,3,4,5],index=index)
data

2018-01-01    1
2019-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
dtype: int64

In [19]:
data["2018-1-2"]

Series([], dtype: int64)

In [20]:
data["2018"]

2018-01-01    1
2018-01-03    3
2018-01-04    4
2018-01-05    5
dtype: int64

In [21]:
data- data["2018-1-4"]

2018-01-01    NaN
2018-01-03    NaN
2018-01-04    0.0
2018-01-05    NaN
2019-01-02    NaN
dtype: float64

In [22]:
data

2018-01-01    1
2019-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
dtype: int64

In [23]:
data.to_period(freq="D")

2018-01-01    1
2019-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
Freq: D, dtype: int64

In [24]:
data.to_period(freq="M")

2018-01    1
2019-01    2
2018-01    3
2018-01    4
2018-01    5
Freq: M, dtype: int64

In [25]:
data- data[3]

2018-01-01   -3
2019-01-02   -2
2018-01-03   -1
2018-01-04    0
2018-01-05    1
dtype: int64

In [26]:
data- data["20180104"]

2018-01-01    NaN
2018-01-03    NaN
2018-01-04    0.0
2018-01-05    NaN
2019-01-02    NaN
dtype: float64

## 4.5.6 The pandas.period_range() method

In [27]:
pd.period_range("2019-1",periods=10, freq="D")

PeriodIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
             '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
             '2019-01-09', '2019-01-10'],
            dtype='period[D]', freq='D')

In [28]:
pd.period_range("2019-1",periods=10, freq="M")

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10'],
            dtype='period[M]', freq='M')